.rowTable {
    border-bottom: 2px solid $light-grey;
    background-color: white;
    cursor: pointer;

    .tdElement {
        height: 60px;
        border-bottom: solid 2px rgb(212, 212, 212);
        padding: 0;
        margin: 0;
        .containerAction {
            justify-content: flex-start;
            align-items: center;
            display: flex;
            text-align: right;
        }

    }
}